# project files
yarn-error.log

# environment variables
.env*

# yarn v3 state, the release should be committed
# more info here: https://yarnpkg.com/getting-started/migration
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# not necessary to be committed as they're a package
# sites like remix will automatically install them
# generally held in node_modules anyways
@openzeppelin

# should only contain testing packages
node_modules

# build files/folders for the solidity contracts (hardhat)
cache
artifacts
typechain-types

# hardhat testing reports
coverage
coverage.json