# project files
yarn.lock
yarn-error.log

# not necessary to be committed as they're a package
# sites like remix will automatically install them
# generally held in node_modules anyways
@openzeppelin

# should only contain testing packages
node_modules

# build files/folders for the solidity contracts (hardhat)
cache
artifacts
typechain-types

# hardhat testing reports
coverage
coverage.json