# project files
yarn.lock

# not necessary to be committed as they're a package
# sites like remix will automatically install them
# generally held in node_modules anyways
@openzeppelin

# should only contain testing packages
node_modules